<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="com.splunk.agent.launcher.ui.MonitoredLaunchConfigurationTabGroup"
            id="com.splunk.agent.launcher.ui.monitoredLaunchConfigurationTabGroup"
            type="com.splunk.agent.launcher.monitoredLaunchConfigurationType">
      </launchConfigurationTabGroup>
   </extension>

</plugin>
