<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <!--
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="com.splunk.agent.launcher.MonitoredLaunchConfigurationTypeDelegate"
            id="com.splunk.agent.launcher.monitoredLaunchConfigurationType"
            modes="run,debug"
            name="Monitored Java Application"
            public="true">
      </launchConfigurationType>
   </extension>
   -->
</plugin>
